<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Employee</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" >Company-Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="http://localhost:8080">Home</a>
                <a class="nav-link active" aria-current="page" href="http://localhost:8080/list-employee">employees</a>

            </div>
        </div>
    </div>
</nav>
<br>
<br>

<div class="container">

    <h3>Add New Department</h3>
    <hr/>


    <form th:action="@{/saveDepartment}" th:object="${department}" method="POST">

        <input type="text" th:field="*{dep_name}" class="form-control col-4 mb-4" placeholder="Enter department name" />

        <input type="text" th:field="*{dep_id}" class="form-control col-4 mb-4" placeholder="Enter department id" />


        <button type="submit" class="btn btn-primary col-2">Save</button>
        <input type="hidden" th:field="*{dep_id}" />

    </form>
    <hr/>
    <a th:href="@{/list-department}">Back to list</a>
</div>

</body>
</html>