<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Department</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="Container">
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        Company Project
    </a>
    <a href="http://localhost:8080/list-department" class="list-group-item list-group-item-action">Department List</a>
    <a href="http://localhost:8080/list-employee" class="list-group-item list-group-item-action">Emoloyee List</a>
    <a href="http://localhost:8080/addDepartmentForm" class="list-group-item list-group-item-action">Add Department</a>
    <a href="http://localhost:8080/addEmployeeFormm" class="list-group-item list-group-item-action">Add Empolyee</a>
</div>
</div>


</body>

</html>