<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Department</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" >Company-Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="http://localhost:8080">Home</a>
                <a class="nav-link active" aria-current="page" href="http://localhost:8080/list-employee">employees</a>

            </div>
        </div>
    </div>
</nav>
<br>
<br>

<div class="container">
    <h3>List Department</h3>
    <hr/>
    <a th:href="@{/addDepartmentForm}" class="btn btn-primary">Add department</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="departmentTable">
        <thead>
        <tr>
            <th>dep_id</th>
            <th>dep_name</th>
            <th>Ubdate / Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department: ${departments}">
            <td th:text="${department.dep_id}" />
            <td th:text="${department.dep_name}" />
            <td>
                <a th:href="@{/showDepartmentForm(dep_id=${department.dep_id})}" class="btn btn-info">Update</a>
                <a th:href="@{/deleteDepartment(dep_id=${department.dep_id})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
			$(document).ready(function() {
				$("#employeeTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
</body>
</html>